<!-- about.html -->
{% extends "base.html" %}

{% block title %}About Me{% endblock %}



{% block content %}

    <!-- ======= Facts Section ======= -->
    <section id="facts" class="facts">
      <div class="container">

        <div class="section-title">
          <h2>Facts</h2>
          <h3><strong>Education</strong></h3>
          <ol>
          <li>Bachelor in Physics: University of Abuja,
                Nigeria. Completed in 2007.
              </li>
              <li>Masters in Astronomy: University of Science
                and Technology of China, Hefei, China. Completed
                in 2011.
              </li>
              <li> Masters in Mathematical Science: African
                Institute for Mathematical Science,
                Stellenbosch University, Cape Town, South Africa.
                Completed in 2013.
              </li>
              <li>Masters in Applied Mathematics: University of Cape
                Town, Cape Town, South Africa. Completed in 2015.
              </li>
            </ol>
        </div>

        <div class="row no-gutters">

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up">
            <div class="count-box">
              <i class="bi bi-emoji-smile"></i>
              <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1" class="purecounter"></span>
              <h3><strong>Professional Experience</strong></h3>
                  <p>Deputy Minister for Planning, Research and Development, Ministry of Education-Liberia (2018-2024).
                    Key roles included leading education funding, policy evaluation, annual budget preparation, and serving
                    as principal liaison for education funding.
                  </p>
                  <p> Executive Director, Liberia Institute for Science, Technology, Engineering, and Mathematics
                    (2017-2018). Focused on promoting quality STEM education and fostering partnerships.
                  </p>
                  <p> Instructor of Physics and Mathematics, University of Liberia (2016-2018, 2011-2012).
                    Responsibilities included teaching undergraduate courses and conducting research.
                  </p>
                  <p> Disaster Risk Analyst and STEM Specialist, Ministry of Education-Liberia (2015-2016).
                    Developed strategies for education in emergencies and prioritizing STEM education.
                  </p>
                  <p> Physics and Mathematics Teacher, Firestone High School, Harbel, Liberia (2007).</p>
                  <p>Marketing Officer, Based Brothers Inc, Lagos, Nigeria (2006-2007).</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="count-box">
              <i class="bi bi-journal-richtext"></i>
              <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1" class="purecounter"></span>
              <h3><strong>Major Achievements</strong></h3>
              <p>Educational Leadership: Provided outstanding leadership that enhanced donor engagement and policy
                dialogue, significantly impacting education funding in Liberia with over USD 300 million raised.
              </p>
              <p> Project Supervision: Directly supervised extensive educational projects, including a portfolio worth
                over USD 200 million.
              </p>
              <p> Sector Development: Spearheaded the development of Liberia's new education sector plan and
                annual school censuses from 2019 to 2022.
              </p>
              <p> Innovation in Education: Led the successful launch and revival of the Liberia Institute for Science,
                Technology, Engineering, and Mathematics. Initiated the digitization of educational data collection
                tools in Liberia.
              </p>
              <p> Crisis Response: Orchestrated Liberia’s educational response to the COVID-19 pandemic,
                establishing national school quality standards and assessment systems.
              </p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="200">
            <div class="count-box">
              <i class="bi bi-headset"></i>
              <span data-purecounter-start="0" data-purecounter-end="1453" data-purecounter-duration="1" class="purecounter"></span>
              <h3><strong>Skills</strong></h3>
              <h4><strong>Hard Skills</strong></h4>
                <p>
                  Expertise in data modeling, data mining, statistics, machine learning, deep learning, and computer
                  programming (Python, JavaScript, R, LaTeX).
                </p>
                <p> Proficient in using various data analysis tools such as Excel and other spreadsheet software.</p>
              <h4><strong>Soft Skills</strong></h4>
              <p>
                Highly skilled in observation, decision-making, strategic leadership, team building, and
                critical thinking. Excellent communication and multi-tasking abilities.
              </p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="300">
            <div class="count-box">
              <i class="bi bi-people"></i>
              <span data-purecounter-start="0" data-purecounter-end="32" data-purecounter-duration="1" class="purecounter"></span>
              <p><strong>Happy Clients</strong> consequuntur quae</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Facts Section -->

    <!-- ======= Skills Section ======= -->
    <section id="skills" class="skills section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Skills</h2>
          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
        </div>

        <div class="row skills-content">

          <div class="col-lg-6" data-aos="fade-up">

            <div class="progress">
              <span class="skill">HTML <i class="val">100%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">CSS <i class="val">90%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">JavaScript <i class="val">75%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">

            <div class="progress">
              <span class="skill">PHP <i class="val">80%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">WordPress/CMS <i class="val">90%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">Photoshop <i class="val">55%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

          </div>

        </div>

      </div>
    </section><!-- End Skills Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->

{% endblock %}
