
{% extends "base.html" %}
{% load static %}
<title>
  {% block title %} My Portfolio {% endblock %}
</title>


{% block content %}
 <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="hero-container" data-aos="fade-in">
      <h1>Alton V. Kesselly</h1>
      <p>I'm  <span class="typed" data-typed-items="an Educator, a Data Analyst and  Research Scientist"></span></p>
    </div>
  </section><!-- End Hero -->
  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title">
          <h2>About</h2>
          <p>An immensely dedicated and committed
            professional with a strong background as an
            educator, mathematician, research scientist, and
            meticulous data analyst, boasting over eight years
            of valuable experience. Keen to employ well-
            honed analytical abilities to tackle intricate
            challenges while delivering strategic leadership
            and adept management
          </p>
        </div>

        <div class="row">
          <div class="col-lg-4" data-aos="fade-right">
            <img src="{% static 'assets/img/profile-img.jpg' %}"
                 class="img-fluid" alt="">
          </div>
          <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
            <h3>Educator &amp; Research Scientist amp; and Data Scientist.</h3>
            <p class="fst-italic">

              As an educator, I am dedicated to fostering a stimulating learning environment that encourages curiosity
              and critical thinking. My role involves designing and delivering educational content, assessing student
              progress, and continuously adapting instructional strategies to meet diverse learning needs and objectives.
              <br>
              As a research scientist, I specialize in advancing knowledge within my field through rigorous scientific
              inquiry. My responsibilities include formulating research questions, conducting detailed experiments,
              analyzing data, and publishing findings. My work contributes to scientific advancements and practical
              applications that address complex challenges.
              <br>
              As a data scientist, I leverage analytical expertise and advanced technology to extract meaningful
              insights from complex datasets. My role encompasses data preprocessing, statistical analysis,
              predictive modeling, and deploying machine learning algorithms. These capabilities enable data-driven
              decision-making and strategic planning across various industries.

            </p>
            <div class="row">
              <div class="col-lg-6">
                <ul>

                  <li><i class="bi bi-chevron-right"></i> <strong>Website:</strong> <span>www.kessellyalton.com</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span>+231 888 757477</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>Monrovia, Liberia</span></li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Degree:</strong> <span>Master</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span>kessellyalton@outlook.com</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Freelance:</strong> <span>Available</span></li>
                </ul>
              </div>
            </div>
            <p>
              As an educator, I provide educator Services, including creating tailored educational programs that align with learning
              outcomes and standards, facilitating engaging workshops for educators and students alike, focusing on
              specific skills or knowledge areas, offering one-on-one tutoring sessions in specialized subjects to help
              learners achieve their academic goals, providing expert advice on educational strategies, technology
              integration, and curriculum enhancements to educational institutions.
              <br>
              As a Research Scientist, I provide services such as assisting organizations in drafting compelling grant
              proposals for scientific research funding and designing and conducting experiments to explore new
              scientific questions or validate hypotheses in various domains.
              Data Analysis and Technical Reporting: Analyzing research data and compiling detailed reports that
              outline findings and offer evidence-based recommendations.
              Peer Review and Editorial Services: Expert peer review for academic journals and editing services
              for scientific manuscripts.
              <br>
              As a Data Scientist, I provide services like transforming raw data into clear and actionable
              insights for business decision-making, developing and deploying machine learning models to
              automate processes and predict outcomes, crafting intuitive visualizations and comprehensive
              reports to help stakeholders understand complex data, and advising organizations on how to structure
              their data collection, management, and analysis practices to maximize efficiency and effectiveness.            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

</main>
{% endblock %}
