<!-- about.html -->
{% extends "base.html" %}
{% load static %}
{% block title %}Resume{% endblock %}



{% block content %}
    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
      <div class="container">

        <div class="section-title">
          <h2>Resume</h2>
          <p>
            An immensely dedicated and committed professional with a strong background as an educator, mathematician,
            research scientist, and meticulous data analyst, boasting over eight years of valuable experience.
            Keen to employ well honed analytical abilities to tackle intricate challenges while delivering strategic
            leadership and adept management.
          </p>
        </div>

        <div class="row">
          <div class="col-lg-6" data-aos="fade-up">
            <h3 class="resume-title">Sumary</h3>
            <div class="resume-item pb-0">
              <h4>Alton Kesselly </h4>
              <p><em>Deputy Minister for Planning, Research and Development Ministry of Education-Liberia
                with 5+ years of experience delivering strategic leadership and adept management.
              </em></p>
              <ul>
                <li>Old CID Road,Mamba Point, Monrovia</li>
                <li>(231) 888-757477</li>
                <li>kessellyalton@outlook.com</li>
              </ul>
            </div>

            <h3 class="resume-title">Education</h3>
            <div class="resume-item">
              <h4>Master of Science &amp; Applied Mathematics</h4>
              <h5>2013 - 2015</h5>
              <p><em>University of Cape Town, Cape Town, South Africa</em></p>
              <p>This thesis investigates some very and more recent issues surrounding the Physics of Black holes.
                Particularly, if a black hole evaporates completely, what happened to the information inside?
                This thesis concludes with some interesting ideas on how the information loss problem can be resolved.
             </p>
            </div>
            <div class="resume-item">
              <h4>Bachelor of Science &amp; Physics</h4>
              <h5>2002 - 2006</h5>
              <p><em>University of Abuja, Abuja, Nigeria</em></p>
              <p>This thesis demonstrated that high signal-to-noise ratio and better spatially resolved
                data can account for some of the observations that are inconsistent with the Unification Models of
                Active Galactic Nuclei.
              </p>
            </div>
          </div>
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <h3 class="resume-title">Professional Experience</h3>
            <div class="resume-item">
              <h4>Deputy Minister for Planning, Research and Development-Liberia</h4>
              <h5>2018 - 2024</h5>
              <p><em>Oldest Congo Town, Monrovia, Liberia </em></p>
              <ul>
                <li>
                  Education Funding and Project Development,</li>
                <li>
                  Clearinghouse for all Education Development activities
                </li>
                <li>
                  Principal Liaison between the Ministry of Education and everyone funding education in Liberia,
                  including the government of Liberia and International donors
                </li>
                <li>
                  Annual Budget preparation and Annual Reports writing for the Ministry of Education
                </li>
                <li>
                  Planning, Monitoring, and Evaluation of all Education Plans and their implementations
                </li>
                <li>
                  Policy evaluation and appraisals
                </li>
                <li>
                  Education Management Information System including
                </li>
               <li>
                 Research, Statistics, and Demographics
               </li>
              <li>
                Led the Education Sector Development Committee and the Local Education Group.
              </li>
              </ul>
            </div>
            <div class="resume-item">
              <h4>Graphic design specialist</h4>
              <h5>2017 - 2018</h5>
              <p><em>Stepping Stone Advertising, New York, NY</em></p>
              <ul>
                <li>Developed numerous marketing programs (logos, brochures,infographics, presentations, and advertisements).</li>
                <li>Managed up to 5 projects or tasks at a given time while under pressure</li>
                <li>Recommended and consulted with clients on the most appropriate graphic design</li>
                <li>Created 4+ design presentations and proposals a month for clients and account managers</li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Resume Section -->

{% endblock %}